.layout {
  height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
    margin-top: 4rem;
    margin-bottom: 6rem;
  }
  &__controls {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: $base-spacing-unit;

    .icon {
      background: none;
      border: none;
      cursor: pointer;
      font-size: $font-size-md;
      color: $text-color;
      z-index: $zindex-modal;

      &:hover {
        color: $accent-color;
      }
    }
  }

  &__header {
    padding: $double-spacing-unit;
    margin-bottom: $double-spacing-unit;
    text-align: center;
    animation: fadeIn 2s ease-out forwards;
  }

  &__trash {
    color: $dark-accent-color;
    cursor: pointer;
  }

  &__trash:hover {
    color: $dark-accent-color;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // gap: $base-spacing-unit;

    h1 {
      margin-top: $half-spacing-unit;
      margin-bottom: $half-spacing-unit;
      font-size: $font-size-xl;
      font-weight: $font-weight-bold;
    }

    span {
      // margin-top: $double-spacing-unit;
      font-size: $font-size-sm;
    }

    .color-green {
      color: #90ff3c;
    }

    .color-yellow {
      color: #fefc53;
    }

    .color-red {
      color: #db0000;
    }
  }

  p {
    font-size: $font-size-md;
    margin: 0;
  }

  &__dark-mode-toggle {
    position: relative;
    display: inline;
    padding-top: 0.4rem;
    background: none;
    border: none;
    cursor: pointer;
    color: $text-color;
    z-index: $zindex-modal;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// Dark theme styles
[data-theme="dark"] {
  .layout {
    background-color: $dark-background-color;
    &__main {
      background-color: $dark-background-color;
      color: $dark-text-color;
    }

    &__dark-mode-toggle {
      color: $dark-text-color;
    }

    &__dark-mode-toggle:hover {
      color: $dark-accent-color;
    }

    &__trash:hover {
      color: $dark-accent-color;
      cursor: pointer;
    }

    &__controls {
      .icon {
        color: $dark-text-color;

        &:hover {
          color: $dark-accent-color;
        }
      }
    }
  }
}
