@import "./_variables.scss";
@import "./_reset.scss";

body {
  font-family: $base-font-family;
  background-color: $background-color;
  color: $text-color;
  font-size: $base-font-size;
  line-height: $line-height;
}

// Responsive typography
@media (max-width: $breakpoint-md) {
  h1 {
    font-size: $font-size-lg;
  }
  // ... other responsive styles
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  color: $text-color;
  margin-top: $base-spacing-unit;
  margin-bottom: $half-spacing-unit;
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

h2 {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}

h4 {
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
}

h5 {
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
}

h6 {
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
}

p {
  margin-bottom: $half-spacing-unit;
}

ul {
  list-style-type: none;
  padding-left: $base-spacing-unit;
  font-size: $font-size-sm;
}

li {
  margin-bottom: $half-spacing-unit;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: darken($accent-color, 10%);
    text-decoration: underline;
  }
}

button {
  font-family: $base-font-family;
  font-size: $font-size-base;
  padding: $half-spacing-unit;
  border-radius: $half-spacing-unit;
  border: 1px solid $secondary-color;
  background-color: $primary-color;
  color: $text-light;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

input,
select,
textarea {
  font-family: $base-font-family;
  font-size: $font-size-base;
  padding: $half-spacing-unit;
  border-radius: $half-spacing-unit;
  border: 1px solid $secondary-color;
  color: $text-color;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

// Dark mode styles
[data-theme="dark"] {
  body {
    background-color: $dark-background-color; // Dark mode background color
    color: $dark-text-color; // Dark mode text color
  }

  // Override styles for other elements in dark mode
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-text-color; // Dark mode color for headings
  }

  a {
    color: $dark-accent-color; // Dark mode color for links

    &:hover {
      color: darken(
        $dark-accent-color,
        10%
      ); // Darken the link color on hover in dark mode
    }
  }

  input,
  select,
  textarea {
    border: 1px solid $dark-secondary-color; // Dark mode border color for form elements
    color: $dark-text-color; // Dark mode text color for form elements

    &:focus {
      border-color: $dark-primary-color; // Dark mode border color on focus for form elements
    }
  }

  // Add any other dark mode specific styles here
}

.dark-mode-icon .icon,
.dark-mode-icon .icon {
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.dark-mode-icon .icon:hover,
.dark-mode-icon .icon:hover {
  border: none;
  cursor: pointer;
  font-size: 24px;
}
